<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header" />
</head>
<body>
<div class="container">

    <h2 th:text="${'Customer ' + customer.id}"></h2>

    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.email}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.phone}">Phone</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div th:if="${not #lists.isEmpty(customer.accounts)}">
                <h3>Accounts:</h3>
                <table class="table table-striped">
                    <tr>
                       <th>#</th>
                        <th>Balance</th>
                    </tr>
                    <tr th:each="account : ${customer.accounts}">
                        <td th:text="${account.id}"></td>
                        <td th:text="${account.balance}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default" href="/javabank/customer/list">Customer List</a>
    </div>
</div>
</body>
</html>
